/* line 2, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

/* line 3, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* line 4, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 5, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
body { margin: 0; }

/* line 6, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
body, button, input, select, textarea { font-family: helvetica, arial, sans-serif; }

/* line 7, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
a:focus, input:focus, button:focus { outline: none; }

/* line 8, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
a:hover, a:active { outline: 0; }

/* line 9, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 10, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
b, strong { font-weight: bold; }

/* line 11, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
blockquote { margin: 1em 40px; }

/* line 12, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* line 13, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
q { quotes: none; }

/* line 14, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
q:before, q:after { content: ''; content: none; }

/* line 15, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
small { font-size: 75%; }

/* line 16, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
sup { top: -0.5em; }

/* line 18, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
sub { bottom: -0.25em; }

/* line 19, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
ul, ol { margin-left: 0; padding: 0 0 0 40px; }

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
dd { margin: 0 0 0 40px; }

/* line 21, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
nav ul, nav ol { list-style: none; list-style-image: none; }

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
img { border: 0; -ms-interpolation-mode: bicubic; }

/* line 23, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
figure { margin: 0; }

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
form { margin: 0; }

/* line 25, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
legend { border: 0; *margin-left: -7px; }

/* line 27, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
button, input { line-height: normal; }

/* line 29, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

/* line 31, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* line 33, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 34, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
textarea { overflow: auto; vertical-align: top; }

/* line 35, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 39, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* line 40, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
.ir br { display: none; }

/* line 44, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

/* line 44, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
.clearfix { display: inline-block; }

/* start commented backslash hack \*/
/* line 45, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
* html .clearfix { height: 1%; }

/* line 45, ../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/_base.scss */
.clearfix { display: block; }

/* close commented backslash hack */
/* line 4, sass/default.scss */
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
